src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jwt="http://www.mulesoft.org/schema/mule/jwt"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/jwt http://www.mulesoft.org/schema/mule/jwt/current/mule-jwt.xsd">

    <jwt:config name="invalid-file-rs256-config"
                algorithm="RS256"
                privateKeyPath="${mule.home}/src/test/resources/cert/no-such-key.pem"/>

    <jwt:config name="invalid-key-rs256-config"
                algorithm="RS256"
                privateKeyPath="${mule.home}/src/test/resources/cert/pkcs8-1024-bit-private-key.pem"/>

    <jwt:config name="good-rs256-config"
                algorithm="RS256"
                privateKeyPath="${mule.home}/src/test/resources/cert/pkcs8-4096-bit-private-key.pem"/>

    <flow name="sign256Flow">
        <set-payload value="#[output application/json --- { 'aud': 'service.gov.uk', 'iss': '12345', 'iat': 1516239022 }]"/>
        <jwt:sign config-ref="good-rs256-config"/>
    </flow>

    <flow name="sign256Flow-withVariable">
        <set-variable variableName="body256" value="#[output application/json --- { 'aud': 'service.gov.uk', 'iss': '12345', 'iat': 1516239022 }]"/>
        <jwt:sign config-ref="good-rs256-config">
            <jwt:body><![CDATA[#[vars.body256]]]></jwt:body>
        </jwt:sign>
    </flow>

    <flow name="sign256Flow-withHeader">
        <set-variable variableName="header" value="#[output application/json --- { 'typ': 'JWT' }]"/>
        <set-payload value="#[output application/json --- { 'aud': 'service.gov.uk', 'iss': '12345', 'iat': 1516239022 }]"/>
        <jwt:sign config-ref="good-rs256-config">
            <jwt:header><![CDATA[#[vars.header]]]></jwt:header>
        </jwt:sign>
    </flow>

    <flow name="invalidFile256Flow">
        <set-payload value="#[output application/json --- { 'aud': 'service.gov.uk', 'iss': '12345', 'iat': 1516239022 }]"/>
        <jwt:sign config-ref="invalid-file-rs256-config"/>
        <error-handler>
            <on-error-continue enableNotifications="false" logException="false" type="JWT:FILE_NOT_FOUND">
                <set-payload value="FILE_NOT_FOUND Exception raised and handled"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="invalidKey256Flow">
        <set-payload value="#[output application/json --- { 'aud': 'service.gov.uk', 'iss': '12345', 'iat': 1516239022 }]"/>
        <jwt:sign config-ref="invalid-key-rs256-config"/>
        <error-handler>
            <on-error-continue enableNotifications="false" logException="false" type="JWT:INVALID_KEY">
                <set-payload value="INVALID_KEY Exception raised and handled"/>
            </on-error-continue>
        </error-handler>
    </flow>

</mule>
